# ROOTURK GKI fragment for POCO X7 Pro (rodin)
# Linux 6.6 / Android 15 GKI
# KernelSU Next + SuSFS

# WiFi/BT vendor module compatibility
CONFIG_MODULE_ALLOW_BTF_MISMATCH=y
# CONFIG_MODULE_SIG_PROTECT is not set
# CONFIG_CFG80211 is not set
CONFIG_TCP_CONG_BBR=y
CONFIG_DEFAULT_BBR=y
CONFIG_DEFAULT_TCP_CONG="bbr"
CONFIG_NET_SCH_FQ=y
CONFIG_DEFAULT_FQ=y

CONFIG_KSU=y
# CONFIG_KSU_DEBUG is not set
# CONFIG_KSU_DISABLE_MANAGER is not set
# CONFIG_KSU_DISABLE_POLICY is not set

# KernelSU Next SUSFS v2.2.0
CONFIG_KSU_SUSFS=y
CONFIG_KSU_SUSFS_SUS_PATH=y
CONFIG_KSU_SUSFS_SUS_MOUNT=y
CONFIG_KSU_SUSFS_SUS_KSTAT=y
CONFIG_KSU_SUSFS_SPOOF_UNAME=y
# CONFIG_KSU_SUSFS_ENABLE_LOG is not set
CONFIG_KSU_SUSFS_HIDE_KSU_SUSFS_SYMBOLS=y
CONFIG_KSU_SUSFS_SPOOF_CMDLINE_OR_BOOTCONFIG=y
CONFIG_KSU_SUSFS_OPEN_REDIRECT=y
CONFIG_KSU_SUSFS_SUS_MAP=y
# CONFIG_ARM64_MTE is not set
# CONFIG_KASAN is not set
